// main: ../main.scss
/*--------------------------------------------------------------
# Pricing Section
--------------------------------------------------------------*/
.pricing {
  .pricing-item {
    background-color: color-mix(in srgb, var(--accent-color), transparent 96%);
    padding: 40px 40px;
    height: 100%;
    border-radius: 15px;
  }

  h3 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
  }

  h4 {
    color: var(--accent-color);
    font-size: 48px;
    font-weight: 700;
    font-family: var(--heading-font);
    margin-bottom: 0;

    sup {
      font-size: 28px;
    }

    span {
      color: color-mix(in srgb, var(--default-color), transparent 50%);
      font-size: 18px;
      font-weight: 500;
    }
  }

  .description {
    font-size: 14px;
  }

  .cta-btn {
    border: 1px solid var(--default-color);
    color: var(--default-color);
    display: block;
    text-align: center;
    padding: 10px 35px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--heading-font);
    transition: 0.3s;
    margin-top: 20px;
    margin-bottom: 6px;

    &:hover {
      background: var(--accent-color);
      color: var(--contrast-color);
      border-color: var(--accent-color);
    }
  }

  ul {
    padding: 0;
    list-style: none;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    text-align: left;
    line-height: 20px;

    li {
      padding: 10px 0;
      display: flex;
      align-items: center;

      &:last-child {
        padding-bottom: 0;
      }
    }

    i {
      color: #059652;
      font-size: 24px;
      padding-right: 3px;
    }

    .na {
      color: color-mix(in srgb, var(--default-color), transparent 60%);

      i {
        color: color-mix(in srgb, var(--default-color), transparent 60%);
      }

      span {
        text-decoration: line-through;
      }
    }
  }

  .featured {
    position: relative;

    .popular {
      position: absolute;
      top: 15px;
      right: 15px;
      background-color: var(--accent-color);
      color: var(--contrast-color);
      padding: 4px 15px 6px 15px;
      margin: 0;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 500;
    }

    .cta-btn {
      background: var(--accent-color);
      color: var(--contrast-color);
      border-color: var(--accent-color);
    }
  }

  @media (max-width: 992px) {
    .box {
      max-width: 60%;
      margin: 0 auto 30px auto
    }
  }

  @media (max-width: 767px) {
    .box {
      max-width: 80%;
      margin: 0 auto 30px auto
    }
  }

  @media (max-width: 420px) {
    .box {
      max-width: 100%;
      margin: 0 auto 30px auto
    }
  }
}